*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# and more
*~
.gradle
/build
/out
/intTestHomeDir
/subprojects/*/out
/intellij
/buildSrc/lib
/buildSrc/build
/*.iml
/*.ipr
/*.iws
*.classpath
*.project
*.settings
/bin
.DS_Store
.textmate
.idea
*.sublime-*
.nb-gradle
